#view-scores {
    display: flex;
    flex-wrap: wrap;
    width: 15%;
}

#view-scores p {
    padding: 20px;
    text-decoration: underline;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container a {
    margin-top: 75px;;
}

#timer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 20px;
    font-size: 75px;
    font-weight: bold;
}

body {
    display: flex;
    flex-wrap: wrap;
    background-color: lightsteelblue;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

#main-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
    text-align: center;
    margin-top: 150px;
}

.btn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 35px;
    width: 150px;
    background-color: blueviolet;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

#question {
    width: 100%;
    text-align: center;
}

.correct {
    background: chartreuse;
}

.incorrect {
    background: red;
}

.choice-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 70px;
    width: 70%;
    background-color: blueviolet;
    border-radius: 5px;
    align-items: left;
    justify-content: space-evenly;
    margin: 20px;
    padding: 0 100px;
}

.choice-container:hover {
    cursor: pointer;
}

.choice-prefix {
    color: white;
    font-size: 30px;
}

.choice-text {
    font-weight: bold;
    font-size: 35px;
}